<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ metadata.title }}</title>
    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
    <link rel="shortcut icon" href="/images/favicon.ico?v=4" type="image/x-icon" sizes="16x16 24x24 32x32 64x64"/>
    <link rel="apple-touch-icon" href="/images/favicon-60x60.png?v=6"/>
    <link rel="apple-touch-icon" sizes="76x76" href="/images/favicon-76x76.png?v=6"/>
    <link rel="apple-touch-icon" sizes="120x120" href="/images/favicon-120x120.png?v=6"/>
    <link rel="apple-touch-icon" sizes="152x152" href="/images/favicon-152x152.png?v=6"/>
    <meta name="apple-mobile-web-app-title" content="{{ metadata.title }}"/>
    <link href="https://github.com/donswelt" rel="me"/>
    <link href="mailto:thartmann@posteo.de" rel="me"/>
    <link type="application/atom+xml" rel="alternate" href="{{ metadata.url }}/feed.xml" title="{{ metadata.title }}"/>
</head>

    <body>
        <div class="main">
        <div class="header">
        <a href="{{ metadata.url }}/"><b>{{ metadata.title }}</b></a> <span class="heart">&hearts;</span>
        <a href="{{ metadata.url }}/about/">Wer!?</a> &middot;
        <a href="{{ metadata.url }}/rolle/">Rolle</a> &middot;
        <a href="{{ metadata.url }}/rap/">Rap</a>
        </div>
        
       {{ content }}

        <div class="footer">
        Dieses Blog  <a href="{{ metadata.url }}/feed.xml">abonnieren</a>.<br>
        Dieses Blog  <a href="https://www.paypal.me/donswelt">unterstützen</a>.<br>
        Oder bloß das olle <a href="{{ metadata.url }}/imprint/">Impressum</a> lesen.<br>
        Mit <a href="https://www.11ty.dev">11ty</a> gebaut und auf <a href="https://uberspace.de">Uberspace</a> gehostet.
        </div>
        </div>
    </body>
</html>